# Server
PORT=3001
JWT_SECRET=troque-por-uma-string-grande
ADMIN_CODE=GTR-1234

# Client URL (URL do frontend no Netlify)
CLIENT_URL=https://festase.netlify.app/

# Supabase (Settings -> API)
SUPABASE_URL=https://fifxitgzgncdvushcbjv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpZnhpdGd6Z25jZHZ1c2hjYmp2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDczNjM5MCwiZXhwIjoyMDg2MzEyMzkwfQ.Q3PHU3Y8uStMiAsU6d8Wr8WMa4EhQ_c2nbdAbrvFyL4

# Client (Vite)
VITE_API_BASE=https://sistema-festas-backend.onrender.com
